<!DOCTYPE html>
<html>
	<head>
		<title>User Billing Information</title>
		<link rel="stylesheet" href="billinginfo.css" type="text/css" >
		<script  type="text/javascript" src="addBillingInfo.js"></script>
	</head>
	<h2>Road Trip Buddy User Billing Information</h2>
	<body>
		<div>
			<Form action="http://flip3.engr.oregonstate.edu:9477	method="post">
				<fieldset>
				
				<div style="width:inherit;height:20px;padding:10px;border:1px inset black;">
				
				<label>First Name:
					<input type="text" name="text_input">
				</label>
				</div>
				<br/>
				
				<div style="width:inherit;height:20px;padding:10px;border:1px inset black;">
				
				<label>Last Name:
					<input type="text" name="text_input">
				</label>
				</div>
				<br/>
				
				<div style="width:inherit;height:20px;padding:10px;border:1px inset black;">
				
				<label>Phone Number:
					<input type="number" name="number_input">
				</label>
				</div>
				<br/>
			
				<div style="width:inherit;height:20px;padding:10px;border:1px inset black;">
				<label>Credit Card Name:
					<input type="text" name="text_input">
				</label>
				</div>
				<br/>
				
				<div style="width:inherit;height:20px;padding:10px;border:1px inset black;">
				<label>Credit Card Number:
					<input type="number" name="number_input">
				</label>
				</div>
				<br/>
				
				<div style="width:inherit;height:20px;padding:10px;border:1px inset black;">
				<label>CSC Number:
					<input type="number" name="number_input">
				</label>
				</div>
				<br/>
				
				<div style="width:inherit;height:20px;padding:10px;border:1px inset black;">
				<label>Expiration Date:
					<input type="date" name="date_input">
				</label>
				</div>
				<br/>
				
				<div style="width:inherit;height:100px;padding:10px;border:1px inset black;">
				
				<label>Credit card Type:
				<br>
				<input type="checkbox" name="Card Type" value="MasterCard"> MasterCard<br>
				<input type="checkbox" name="Card Type" value="Visa"> Visa<br>
				<input type="checkbox" name="Card Type" value="American Express"> American Express
				</label>
				</div>
					<input type="button" value="Submit">
				</fieldset>
			</form>
		</div>
	</body>
</html>
	
	
	
	
	
	
	
	
	
	